.sidebar {
    height: 538px;
    width: 20%;
    top: 0;
    left: 0;
    background-color: rgb(218, 208, 208);
    padding-top: 100px;
    position: fixed;
    margin-top: 88px;

  }
  
  .sidebar a {
    padding: 20px;
    text-decoration: none;
    font-size: 20px;
    display: block;
    text-decoration: underline;
  }

 