
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<div class="container">
  <h1>**Customer Details**</h1>
  <div class="float-end">
    <div class="table1">
      <div class="btn">
       <button class="btn btn-primary " routerLink='add' onclick="add()">Add Customer</button>
      <button class="btn btn-secondary mx-2 " (click)="backclick()">Back</button>
      </div>

      <table class="table table-bordered">

        <thead>
            <tr>
                <th>SR NO</th>
                <th>User Name</th>
                <th>Email</th>
                <th>City</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Priyanka Patil</td>
                <td>piyu28patil7@gmail.com</td>
                <td>Kolhapur</td>
                <td><button class="btn1 success" routerLink="edit">Edit</button> / <button class="btn2 danger" routerLink="delete">Delete</button></td>

            </tr>
            <tr>
                <td>2</td>
                <td>Nikita Sabne</td>
                <td>nikitej01@gmail.com</td>
                <td>Aurangabad</td>
                <td><button class="btn1 success" routerLink="edit">Edit</button> / <button class="btn2 danger" routerLink="delete">Delete</button></td>

            </tr>
            <tr>
                <td>3</td>
                <td>Vaibhavi Zende</td>
                <td>vzende89@gmail.com</td>
                <td>Pune</td>
                <td><button class="btn1 success" routerLink="edit">Edit</button> / <button class="btn2 danger" routerLink="delete">Delete</button></td>

            </tr>
            <tr>
              <td>4</td>
              <td>Trupti Jadhav</td>
              <td>tjadhav@gmail.com</td>
              <td>Pune</td>
              <td><button class="btn1 success" routerLink="edit">Edit</button> / <button class="btn2 danger" routerLink="delete">Delete</button></td>

          </tr>
        </tbody>
    </table>

    </div>
      
  </div>
  <div>
      <router-outlet></router-outlet>
      
  </div>
</div>



