<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="student.component.scss">
</head>
<body>
    <h1>Student Login</h1>
    <div class="login">
        <label for="name">User Name:</label><br>
                <input type="text" id="name" placeholder="Enter user name"><br>
                <label for="password">Password:</label><br>
                <input type="password" id="password" placeholder="Enter your password"><br>
                <button type="submit" class="btn">Login</button>
                <div class="pass">
                   
                    <a href="">Forget Password</a>
                    <a href="">Create New Account</a>
            
                </div>
    </div>

</body>
</html>