<h1>
    Online Admission Enquiry
</h1>

<p style="font-size: 20px">
    Dear Candidate,
</p>
<p>
    Kindly fill up all the information in below online form and submit the form. You do not have to pay any fees for the application form. You will receive an acknowledgement of submission on your email ID AND/OR text message on your Mobile. Keep in touch with our Admissions Cell or you may contact on our Toll Free 1800 31300 1566 for any queries.
</p>

<ul>
    <li>
        Scholarships Available for Meritorious Students
    </li>
    <br>
    <li>
        Minority Scholarships available for eligible candidates of Muslims, Sikhs, Christians, Buddhists, Parsis and Jains.
        Criteria : Income below Rs. 2.5 Lakh and minimum 50% and above marks in previous academic year of final exam.
    </li>
</ul>