.sidebar {
    height: 560px;
    width: 20%;
    top: 0;
    left: 0;
    background-color: rgb(218, 208, 208);
    overflow-x: hidden;
    margin: -20px;
    margin-top: -16px;
  }
  
  .sidebar a {
    padding: 15px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
  }

 