<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angular Assignment</title>
</head>
<body>
    <div class="header">
        <ul>
            <div>
                <img src="assets/logo.png" alt="" class="logo">
            </div>
            
            <div class="header-right">
                <li class="item" class="active">Accounts</li>
                <li class="item">Clients</li>
                <li class="item">Documents</li>
                <li class="item">Reports</li>
            
            </div>
        </ul>
    </div>
</body>
</html>