
  .sidebar {
    
    width: 250px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 20px;
    text-decoration: underline;
    font-size: 20px;
  }

  